body{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: 'Silkscreen';
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 10px;
}
.flex-box{
    display: flex;
    align-items: center;
}

.Knopka button{
    font-size: 20px;
    border-radius: 10px;
    border: solid 2px #ff7700;
    background-color: #fff;
    color:#ff7700;
    padding: 10px;
}

footer{
    display: flex;
    align-items: center;
    width: 60%;
    background-color: rgb(230, 230, 230);
}

.logo{
    width: 20%;
    margin: 10px;
    margin-left: 0;
}
.TEXT{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.text-verh{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}

.colonka{
    display: flex;
    flex-direction: column;
}

.colonka a{
    margin-bottom: 10px;
    
}

.text-niz{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



